<%= form_for(@product) do |form| %>
    <div class="row">
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              New Product
            </div>
          </div>

          <hr>
          <div class="panel-body">

            <div class="form-group">
              <div class="col-md-3">
                <%= form.label :name, 'Product Name', class: 'control-label' %>
              </div>
              <div class="col-md-9">
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            </div>

            <br>
            <br>

            <div class="form-group">
              <div class="col-md-3">
                <%= form.label :description, 'Description', class: 'control-label' %>
              </div>
              <div class="col-md-9">
                <%= form.text_field :description, class: 'form-control' %>
              </div>
            </div>

            <br>
            <br>


            <div class="form-group">
              <div class="col-md-3">
                <%= form.label :files, 'Images', class: 'control-label' %>
              </div>
              <div class="col-md-9">
                <%= form.file_field :files, name: 'files' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <%= form.submit 'Save Product', class: 'btn btn-primary pull-right' %>
                <%= link_to 'Cancel', @product, method: :delete, class: 'btn btn-default pull-right m-r-10' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
